@media all and (min-width: 1200px) {
    .letters{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 10%;
        flex: 1 1 10%;
        margin: 10px 5px;
    }
    
    img{
        width: 700px;
    }
    
    #alphabet{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
        flex: 1 1 30%;
    }
}


@media all and (max-width: 768px) {
    
    body{
        margin: 0;
    }
    
    #container {
        display: block;
    }
    
    #gallows{
        display: block;
    }
    
    #gallows img{
        width: 100%;
        
    }
    
    #alphabet{
        width: 100%;
    }
    
    .letters{
        width: 30px;
        height: 30px;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
    }
}

@media all and (max-width: 520px) {
    
    body{
        margin: 5px;
    }
    
    #container h1{
        margin: 0;
        font-size: 1.5em;
    }
    
    #gallows img {
        width: 80%;
        height: auto;
    }
    
    #board {
        margin: 5px;
    }
    
    .letters{
        width: 20px;
    }
    
    
}